html, body {

  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  color: #1f4877;
}



.m-10 {
  margin: 6rem;
}

.my-10 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.p-10 {
  padding: 6rem;
}

.py-10 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

img,
svg {
  width: max-content !important;
}

.homeCustom {
  position: absolute !important;
  width: 100% !important;

}
.homeCustom2 {
  font-size: 64px !important;
  font-weight: bold;
  color: white !important;
}
.homecustom3 {
  font-size: 24px;
  text-align: left !important;
  color: white !important;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.customImgHome {
  background-color: black !important;
  position: absolute !important;
  opacity: 47% !important;
}
.customBtn {
  background-color: #adaca7;
}
.customBtn2 {
  background-color: #adaca7;
}
.customAbout {
  width: 200px;
  height: 200px;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 50% !important;
  background-color: #1f4877;
  position: absolute;
  opacity: 75%;
}
.bg-img {
  width: 500px;
  height: 500px;
}
.navbg {
  background-color: transparent !important;
  z-index: 99 !important;
}

.customDiv {
  background-color: blue;
  height: 200px;
  width: 100%;
}

.customsqr {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
}
.customService {
  width: 373.49px !important;
  height: 222.99px !important;

  gap: 10px;
  opacity: 0px;
}

.our-services-section {
  background-image: linear-gradient(#1b334f, #4a4b4d);

  .box {
    width: 300px;
    height: 250.99px;
    border-radius: 18.79px !important;
    border-top: 7px solid #1f4877 !important;
    background: #fff !important;
    color: #1f4877 !important;
  }
  
}

.card {
  background-color: transparent !important;
  border: none !important;
}

.dynamicCustom {
  background-color: #1f4877 !important;
}

.footer {
  height: 157px !important;
}

.customPositionAbout {
 @media  screen and (max-width: 600px) {
  top: -47px;
  margin-left: 34px;
 } left: -35px !important;
  margin-top: 40px;
  bottom: 17px !important;
}
panelStyle {
  background-color: #1f4877 !important;
  /* background-color: rgb(10, green, rgba(33, 33, 224,0.5)); */
  display: flex;
  justify-content: space-around;
}
.ProjectsCustom {
  background-image: linear-gradient(#dddddd, #1b334f);
  color: black;
  height: 457px !important;
}

.contactCustom {
  background-image: linear-gradient(#dddddd, white);
  color: black;
  width: 800px !important;
  height: 457px !important;
  margin-bottom: -80px;
}
.customImg {
  height: 457px !important;
}
.aboutBoxContent {
  width: Fixed (1, 075px) px;
  height: Fixed (818px) px;
  top: 2158px;
  gap: 10px;
  opacity: 0px;
  background: linear-gradient(180deg, rgba(221, 221, 221, 0.32) 0%, rgba(27, 51, 79, 0.27) 100%);
}
.vl {
  @media  screen and (min-width: 768px){
  border-left: 6px solid black;
  height: 50px;
  }

}
.aboutextBox {
  width: 474px;
  height: 90px;
  gap: 0px;
  opacity: 0px;
}
.titleFixedAbout {
  width: 200px !important;
}
.serviceBox {
  width: 300px;
  height: 250.99px;
  top: 10px;
  left: 10px;
  gap: 0px;
  border-radius: 18.79px !important;
  border-top: 7px solid #1f4877 !important;
  background: #e1e1e1 !important;
}

.IconFrame {
  width: 40px !important;
}
.FAQ {
  background: linear-gradient(180deg, rgba(221, 221, 221, 0.32) 0%, rgba(27, 51, 79, 0.27) 100%);
}
.ant-collapse-content {
  background: linear-gradient(180deg, rgba(221, 221, 221, 0.32) 0%, rgba(27, 51, 79, 0.27) 100%);
}

/* Sections */
/* Counter/Stats Section */
.counter-section {
  padding: 100px 20%;
  background-image: linear-gradient(#1b334f, #3a86dd);
}

/* Our Projects */
.projects-section {
  padding: 100px 5%;

  .customProjects {
    cursor: pointer !important;
    color: #1f4877 !important;
  }

  .card-group {
    gap : 20px;
  }
  
  .project-overview {
    .img-bg {
      width: 100%;
      height: 185px !important;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
    }
  }
  
}


.text-primary {
  color : #1F4877 !important;
}
// .contactformImg{
//   width: 70px;
//   height: 300px !important;
// }